.pixel-btn {
  display: inline-block;
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  color: #ffb84d;

  padding: 1.2rem 2rem;
  text-align: center;
  cursor: pointer;

  border-style: solid;
  border-image-source: url("/mainButton.png");
  border-image-repeat: stretch;
  border-image-slice: 105 95 100 100;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  background: #4b110d;
  text-shadow: 0 0 4px #ff8c00, 0 0 8px #ff6a00, 0 0 12px #ff4500;
  box-shadow: 0 0 12px #692a13;
  transition: transform 0.2s ease, box-shadow 0.5s ease;
}

.pixel-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 18px #692a13;
}
