.content-mask {
  position: relative;
  height: 100%;
}

.content-mask::before {
  content: "";
  inset: 0;
  position: absolute;
  background-color: black;
  mask-image: url("./images/gifTwo.gif");
  mask-size: cover;
  mask-position: center;
  mask-repeat: no-repeat;

  background-image: none;
  background-size: cover;
  background-position: center;
  opacity: 1;
  animation: loadMask 0.1s forwards 0.5s;
}

@keyframes loadMask {
  to {
    background-image: url("/backgrounds/mauraudarMap.png");
  }
}

.final-content {
  /* Keep this hidden initially */
  opacity: 0;
  background-image: url("/backgrounds/mauraudarMap.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.welcome-message {
  font-family: "Beth Ellen", cursive;
}
