.house-card {
  position: relative;
  padding: 13px 15px;
  border-style: solid;
  height: 200px;
  width: 200px;
  background-clip: border-box;
  border-image-slice: 50 50 50 50;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("./images/cardContainer.png");
}

.card-content {
  background-color: #ffc86b;
  height: 100%;
  border-radius: 8px;
}
