.hat-message {
  position: relative;
  padding: 13px 15px;
  background-clip: border-box;
  border-image-slice: 48 94 48 98;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/scroll.png");
}

.hat-content {
  padding: 10px;
  background-color: #ffc86b;
  height: 100%;
  border-radius: 8px;
}
