.test-btn1 {
  border-image-slice: 103 111 99 118 fill;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/azesq.png");
}

.test-btn2 {
  border-image-slice: 52 54 52 54 fill;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/qs.png");
  /* box-shadow: 10px 19px 50px 50px red; */
}

.test-btn3 {
  border-image-slice: 19 19 19 19 fill;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 0px 0px 0px 0px;
  border-image-repeat: stretch stretch;
  border-image-source: url("/action-button.png");
}

.test-btn3:hover {
  box-shadow: none;
}
